body {
  background-image: url("/photos/background_HK.png");
  overflow: hidden;

  cursor: url("/photos/pencil2.png") 5 27, crosshair;
  /* cursor: url("/toolbar/project_eraser.png") 15 60, crosshair; */
}

#main-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vw;
  margin-top: 4em;
}

#inside-container {
  display: flex;
  background-color: rgb(171, 194, 197);
  border-radius: 20px;
  border: 10px solid rgb(29, 46, 101);
  width: calc(100em * 0.55);
  height: calc(47em * 0.8);
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: calc(99.875em * 0.5);
  height: calc(48em * 0.618);
  margin: 3em auto;
  border-radius: 2px;
  margin-top: 3.4em;
}

#pixels {
  width: 15px;
  height: 15px;
  border: 0.1px solid grey;
  opacity: 0.3;
}

.addSquares {
  width: 45px;
  height: 45px;
  border: 3px solid rgb(77, 111, 148);
  opacity: 1;
  margin-top: 1.5em;
  margin-right: 0.14em;
}
/* Change Colors of Drawing Tool */
._0 {
  background-color: black;
}
._1 {
  background-color: red;
}
._2 {
  background-color: rgb(255, 69, 0);
}
._3 {
  background-color: orange;
}
._4 {
  background-color: rgb(255, 170, 51);
}
._5 {
  background-color: yellow;
}
._6 {
  background-color: rgb(154, 205, 50);
}
._7 {
  background-color: green;
}
._8 {
  background-color: rgb(8, 143, 143);
}
._9 {
  background-color: blue;
}
._10 {
  background-color: rgb(57, 100, 195);
}
._11 {
  background-color: indigo;
}
._12 {
  background-color: rgb(27, 10, 64);
}
._13 {
  background-color: violet;
}
._14 {
  background-color: rgb(203, 195, 227);
}

._15 {
  background-color: white;
  opacity: 1;
}

#paletteImg {
  margin-left: 46.7em;
  border: 2px solid rgb(77, 111, 148);
  margin-top: -37.8em;
  width: 2.8em;
  height: 2.8em;
}

.pencilTool {
  width: 30.5px;
  height: 0;
  margin-top: -38em;
  /* pointer-events: none; */
}

.eraserTool {
  width: 0;
  height: 0;
  margin-top: -38.5em;
  margin-left: 3em;
  /* pointer-events: none; */
}

#draw {
  width: 3em;
  height: 3em;
}

#erase {
  width: 4em;
  height: 4em;
}
